

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-bold-webfont.woff') format('woff');
  font-weight: bold; /*700*/
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-extrabold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff');
  font-weight: 800;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
       url('../fonts/opensans-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;

}

@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
       url('../fonts/opensans-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}


@font-face {
  font-family: 'open_sans';
  src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
       url('../fonts/opensans-semibold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;

}


@font-face {
  font-family: 'roboto';
  src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: 300l;
  font-style: normal;

}

a {
  text-decoration: none;
  background-color: transparent;
}

p {
  margin: 0;
}

body {
  margin: 0;
  font: 16px/1.42 'open_sans', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
}

ul>li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
}


.header {
  background-color: #131415;
}

.header--margin-bottom {
  margin-bottom: 41px;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.header__container {
  min-height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo__img {
  max-width: 100%;
}

.contacts {
  text-align: right;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contacts__phone {
  color: #fff;
  font-size: 21px;
  font-weight: 700;
}

.dropdown {
  margin-top: 3px;
  position: relative;
  display: inline-flex;
}

.contacts__schedule {
  opacity: 0.7;
  color: #f89513;
  text-decoration: underline;
}

.dropdown:hover  .dropdown__block{
  left: 0;
  right: 15px;
  opacity: 0.7;
}


.dropdown__block {
  position: absolute;
  top: 39px;
  left: -99999px;
  opacity: 0;
  width: 163px;
  height: 70px;
  box-shadow: 0 0 10px rgba(23, 59, 117, 0.55);
  border-radius: 3px 0 3px 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown__block:before {
  content: "";
  display: block;
  height: 30px;
  left: 0;
  right: 0;
  top: -27px;
  position: absolute;
  z-index: 10;
}

.schedule__list {
  text-align: left;
}

.schedule__item:first-child {
  color: #f89513;
}

.schedule__item:last-child {
  margin-top: 10px;
  color: #221f1f;
  font-weight: 300;
}

.dropdown__triangle {
  width: 24px;
  height: 12px;
  position: absolute;
  top: -12px;
  right: 0;
  overflow: hidden;
}

.dropdown__triangle:before {
  content: "";
  width: 30px;
  height: 30px;
  transform: rotate(45deg);
  position: absolute;
  top: 7px;
  right: -4px;
  overflow: hidden;
  background-color: #fff;
}

.page__row {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
}

.page__column-left {
  width: 23.621%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu--vertical {
  width: 44.9%;
}

.menu--about {
  margin-top: 41px;
}

.menu--vertical .menu__list {
  flex-direction: column;
}

.menu__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.menu--vertical .menu__item {
  margin-bottom: 24px;
}

.menu__item {
  margin-right: 28px;
  justify-content: space-between;
}

.menu--vertical .menu__link {
  color: #221f1f;
}

.menu--vertical .menu__item:last-child {
  margin-bottom: 0;
}



.features--aside {
  width: 100%;
  border: 1px solid #000;
  margin-top: 15px;
  padding-top: 23px;
  padding-bottom: 27px;
  min-height: 286px;
  background-color: #fff;
}

.features--aside .features__title {
  color: #000;
  font-size: 18px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 0.54px;
  margin: 0;
  text-align: center;
}

.features__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features--aside .features__card-title {
  margin-top: 26px;
  color: #221f1f;
  font-size: 11px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 2.2px;
}

.features--aside .features__card-desc {
  margin-top: 12px;
  color: #221f1f;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.features__card-desc {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.features--aside .features__card-list {
  margin-top: 5px;
}

.features__card-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 98px;
  line-height: 30px;
}

.features--aside .features__card-list-item {
  color: #221f1f;
  font-size: 18px;
  font-weight: 400;
}

.features__card-list-item {
  list-style: disc;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}

.page__column-right {
  width: calc(100% - 23.621% - 22px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
} 

.banner {
  margin-left: 13px;
}

.banner__image {
  max-width: 100%;
  display: block;
}

.page__column-left {
  width: 23.621%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnews {
  width: 65.4%;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topnews__title {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.topnews__title-header {
  font-size: 12px;
  font-weight: 700;
  line-height: 21px;
  color: #221f1f;
}

.topnews__month {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 700;
  color: #656464;
}

.topnews__list {
  align-self: flex-end;
  width: 95.53%;
  margin-top: 21px;
  list-style-type: none;
}

.topnews__item {
  margin-bottom: 20px;
}

.topnews__item-link {
  display: block;
  min-height: 129px;
}

.topnews__item-icon {
  display: block;
  width: 100%;
}

.topnews__item:last-child {
  margin-bottom: 0;
}


.social--aside {
  margin-top: 47px;
  width: 97.2%;
  align-self: flex-end;
}

.social {
  font-style: normal;
  height: 41px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social--aside .social__title {
  color: #221f1f;
  text-transform: initial;
  letter-spacing: initial;
  text-align: center;
}

.social__title {
  margin: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
}

.social--aside .social__list {
  margin-top: 5px;
  justify-content: center;
}

.social__list {
  list-style: none;
  display: flex;
  justify-content: start;
}

.social__list-item {
  border-radius: 10px;
  background-color: #ffffff;
  margin-right: 10px;
}

.social__list-item:hover {
  border-radius: 10px;
  background-color: #f89513;
  margin-right: 10px;
}

.vk {
  background-image: url('/img/social-icon/vk.png');
  background-position: center;
  background-repeat: no-repeat;
}

.social__list-item-link {
  display: block;
  width: 20px;
  height: 20px;
}

.fb {
  background-image: url('/img/social-icon/fb.png');
  background-position: center;
  background-repeat: no-repeat;
}

.google {
  background-image: url('/img/social-icon/google.png');
  background-position: center;
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('/img/social-icon/twitter.png');
  background-position: center;
  background-repeat: no-repeat;
}

.mail {
  background-image: url('/img/social-icon/mail.png');
  background-position: center;
  background-repeat: no-repeat;
}

.page__column-right {
  width: calc(100% - 23.621% - 22px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.lastnews__title {
  margin-top: 9px;
  color: #221f1f;
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.lastnews__list {
  margin-top: 32px;
  width: 100%;
}

.lastnews__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  width: 100%;
  border-bottom: 2px #f5f5f5 solid;
  margin-bottom: 26px;
  min-height: 196px;
}

.lastnews__item:last-child {
  border-bottom: none;
  margin-bottom: 0;
}

.lastnews__pic {
  margin-top: 4px;
  height: 20.02%;
  border-radius: 50%;
  overflow: hidden;
}

.lastnews__pic-icon {
  max-width: 100%;
  display: block;
}

.lastnews__desc {
  margin-left: 23px;
  font-family: 'roboto', sans-serif;
  width: 71%;
}

.lastnews__desc-time {
  font-size: 14px;
  font-weight: 300;
}

.lastnews__desc-title {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 700;
}

.lastnews__desc-text {
  margin-top: 11px;
}

.pagination {
  margin-left: 199px;
  margin-top: 44px;
}

.pagination__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.pagination__display {
  font-family: 'roboto', sans-serif;
  color: #656464;
  font-size: 14px;
  font-weight: 300;
  margin-right: 18px;
}

.pagination__display, .pagination__controll {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__pages {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 15px;
}

.pagination__controll-prev {
  width: 6px;
  opacity: 0.3;
  margin-right: 15px;
}

.pagination__pages-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 3px;
  color: #221f1f;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
}

.pagination__link {
  color: #221f1f;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.pagination__pages-item--active {
  background-color: #27273e;
  font-family: 'roboto', sans-serif;
}

.pagination__link--active {
  color: #f89513;
}

.pagination__controll-next {
  color: #221f1f;
}

.footer {
  margin-top: 49px;
  background-color: #131415;
}

.footer__container {
  min-height: 77px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author {
  width: 250px;
  color: #fff;
  font-family: 'open_sans';
  font-size: 14px;
  font-weight: 300;
}

.loftschool {
  color: #fff;
  font-weight: 700;
  text-decoration: underline;
}

.author__name {
  font-weight: 700;
}

.more-services {
  width: 100%;
  margin-top: 74px;
  background-color: #131415;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 22px;
  padding-bottom: 54px;
  background-image: url('/img/Rectangle.png');
  background-size: cover;
}

.more-services__text {
  width: 90%;
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}

.we-wait {
  font-weight: 700;
  color: #f89513;
}


.page__column-right {
  width: calc(100% - 23.621% - 22px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.breadcrumbs {
  display: flex;
  justify-content: start;
  color: #221f1f;
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
  opacity: 0.8;
}

.breadcrumbs__list {
  display: inline-flex;
}

.breadcrumbs__link {
  color: #f89513;
  text-decoration: underline;
}

.breadcrumbs__item:after {
  content: "/ ";
}

.breadcrumbs__item:last-child:after {
  content: "";
}

.breadcrumbs__link--active {
  text-decoration: none;
  color: #221f1f;
}

.comments {
  margin-top: 19px;
  width: 100%;
}

.comments__title {
  color: #221f1f;
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.45px;
}

.comments__list {
  margin-top: 36px;
  width: 100%;
}

.comments__item {
  width: 100%;
  min-height: 198px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  padding-bottom: 23px;
  margin-bottom: 25px;
  border-bottom: 2px #f5f5f5 solid;
}

.comments__userpic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 20.04%;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #f5f5f5;
}

.comments__userpic-img {
  max-width: 100%;
  display: block;
}

.comments__desc {
  width: 77.25%;
  margin-left: 19px;
}

.comments__desc-time {
  color: #221f1f;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #656464;
}

.comments__desc-username {
  margin-top: 4px;
  font-weight: 700;
  font-size: 18px;
}

.comments__desc-text {
  margin-top: 9px;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
}


.addcomment {
  margin-top: 61px;
  width: 100%;
}

.form {
  width: 88.2%;
  min-height: 427px;
  background: #f5f5f5;
  border-radius: 5px;
  padding: 43px 97px;
}

.form__title {
  color: #221f1f;
  font-size: 49px;
  font-weight: 700;
  margin-bottom: 18px;
  font-family: 'open_sans';
}

.form__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.form__block {
  margin-right: 23px;
  flex: 1;
}

.form__block-title {
  color: #221f1f;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 7px;
}

.form__input {
  height: 45px;
  padding: 11px 15px 9px;
  background: #fff;
  border: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  outline: none;
  border: 1px solid transparent;
  opacity: 0.5;
  color: #221f1f;
  font-size: 14px;
  font-weight: 300;
  font-family: 'open_sans';
}

.form__block:last-child {
  margin-right: 0;
}

.form__input--textarea {
  padding: 8px;
  resize: vertical;
  height: 90px;
}

.form__row:last-child {
  margin-bottom: 0;
}

.form__block-title {
  color: #221f1f;
  font-family: "open_sans";
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 7px;
}

.radio__labels {
  display: inline-flex;
}

.radio__label {
  display: inline-flex;
  margin-right: 21px;
}

.form__radio-input {
  display: none;
}

.form__radio-input-visible {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #c9c9c9;
  background-color: #ffffff;
  background-image: linear-gradient(to top, #ededed 0%, #ffffff 100%);
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.form__radio-input-text {
  color: #221f1f;
  font-family: "open_sans";
  font-size: 14px;
  font-weight: 300;
}

.form__button {
  display: flex;
  background-color: #1c1f1d;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  padding-left: 21px;
  padding-right: 21px;
  height: 45px;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
}

.form__button-submit {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}



.partners {
  margin-top: 62px;
}

.partners--bordered {
  width: 100%;
  border: 1px solid #000;
  padding-top: 27px;
  padding-bottom: 27px;
}

.partners--bordered .partners__title {
  color: #221f1f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.38px;
  text-align: center;
}

.partners--bordered .partners__list {
  width: 100%;
  flex-flow: column;
  margin-top: 50px;
  min-height: 646px;
  justify-content: space-between;
}

.partners__list {
  margin-top: 77px;
  width: 100%;
  min-height: 177px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
}

.partners--bordered .partners__item {
  width: 100%;
}

.partners__item {
  flex-basis: 29%;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.services {
  margin-top: 19px;
  color: #221f1f;
}

.services__title {
  font-size: 49px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.47px;
}

.services__cards {
  width: 98.3%;
  margin-top: 40px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: space-between;
  min-height: 979px;
}

.card {
  width: 261px;
  min-height: 412px;
}

.card__logo {
  width: 253px;
  height: 153px;
  background-color: #000000;
  border-radius: 4px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.card__logo-image {
  width: 100%;
  height: 100%;
  opacity: 0.52;
  border-radius: 4px;
}

.card__logo-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.72px;
}

.card__desc {
  margin-top: 25px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
}

.card__text {
  margin-top: 6px;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}



.menu__link {
  display: inline-flex;
  align-items: center;
  color: #fff;
}

.menu__link--main-active:before, .menu__link--comments-active:before, .menu__link--services-active:before, .menu__link:before {
  content: "";
  width: 22px;
  height: 22px;
  margin-right: 17px;
  display: inline-block;
  background: no-repeat center center;
}

.menu__link--comments:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -147px;
}

.menu__link--services:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -78px;
}

.menu--vertical .menu__link--main-active {
  color: #f89513;
}


.menu__link--main-active, .menu__link--comments-active, .menu__link--services-active, .menu__link:hover {
  color: #f89513;
}

.menu__link--services:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -112px;
}

.menu__link--comments:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png')  -10px -185px;
}




.menu__link--main:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png')  -10px -10px;
}

.menu__link--services:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -78px;
}

.menu--vertical .menu__link--comments-active {
  color: #f89513;
}



.menu__link--main-active, .menu__link--comments-active, .menu__link--services-active, .menu__link:hover {
  color: #f89513;
}

.menu__link--services:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -112px;
}

.menu__link--main:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png')  -10px -44px;
}




.menu__link--comments:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -147px;
}

.menu__link--main:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -10px;
}

.menu--vertical .menu__link--services-active {
  color: #f89513;
}


.menu__link--main-active, .menu__link--comments-active, .menu__link--services-active, .menu__link:hover {
  color: #f89513;
}

.menu__link--main:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -44px;
}

.menu__link--comments:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png')  -10px -185px;
}




.menu__link--main-active:before, .menu__link--main:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -44px;
}

.menu__link--services-active:before, .menu__link--services:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -112px;
}

.menu__link--comments-active:before, .menu__link--comments:hover:before {
  width: 19px;
  height: 18px;
  background: url('../img/sprites_icons.png') -10px -184px;
}


.wrapper-fixed {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url('../img/gym-595597_1920.png') center center / cover no-repeat;  
  display: flex;
  align-items: center;
  justify-content: center;
}

.auth__content {
  display: flex;
  flex-direction: column;
  animation: bounce 1.3s  cubic-bezier(.3,.96,.56,.81);
}

.auth__logo {
  margin-bottom: 40px;
  max-width: 100%;
  display: block;
}

.auth__welcome {
  border: 3px solid #131415;
  background-color: #131415;
  font-family: 'open_sans';
  padding: 14px 22px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.auth__welcome:hover {
  border: 3px solid #f89513;
  background-color: #f89513;
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: scale(.2)
  }

  20% {
    transform: scale(1.2)
  }

  40% {
    transform: scale(.9)
  }

  60% {
    transform: scale(1.1)
  }

  80% {
    transform: scale(0.95)
  }

  100% {
    opacity: 100%;
  }


}